body {
  background-color: rgb(43, 43, 43);
  color: white;
}

header {
  background-color: rgb(50, 167, 145);
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin: -10px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.trybewarts-header-logo {
  width: 60px;
  margin-left: 20px;
}

h1 {
  display: flex;
  align-items: center;
}

h3 {
  text-align: center;
}

hr {
  margin-left: 2px;
  width: 550px;
}

main {
  display: flex;
}

#email, #senha {
  background:  rgb(50, 167, 145);
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 5px;
  margin-right: 10px;
  padding: 10px;
  padding-left: 20px;
  height: 10px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px  rgb(96, 224, 201), inset -6px -6px 6px  rgb(95, 255, 226);
}

#email::placeholder, #senha::placeholder {
  color: rgb(163, 235, 221);
  font-family: 'Times New Roman', Times, serif;
}

#entrar {
  text-transform: uppercase;
  border: none;
  outline: none;
  margin-right: 20px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: #1DA1F2;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 0px 6px 6px rgb(45, 129, 114), -0px -6px 6px rgb(58, 148, 131);
  transition: 0.5s;
  font-family: 'Times New Roman', Times, serif;
}

#entrar:hover {
  box-shadow: none;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 50px;
  margin-left: 10px;
}

#input-name, #input-lastname, #input-email {
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
  font-family: 'Times New Roman', Times, serif;
}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  background: none;
  resize: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

  *:placeholder-shown ~ 
input {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

#textarea:focus, #input-name:focus, #input-lastname:focus, #input-email:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}

#evaluation-form {
  margin: 50px;
}

#label-family, #label-content, #label-rate, .textarea {
  display:block;
  line-height:20px;
  margin: auto;
  padding: 15px;
  max-width: 800px;
}

#label-content {
  margin-top: 30px;
}

.family, .rating, .subject {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 7px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.family:hover, .rating:checked, .subject:checked {
  background: #9faab7;
}
.family:checked, .rating:checked, .subject:checked {
  background: rgb(50, 167, 145);
}

.family:checked::before, .rating:checked::after, .subject:checked::after {
  width: 40px;
  height: 40px;
  display:flex;
  content: '\f00c';
  font-size: 25px;
  font-weight:bold;
  position: absolute;
  align-items:center;
  justify-content:center;
  font-family:'Font Awesome 5 Free';
}

.family:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: rgb(50, 167, 145);
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.family, .rating {
  border-radius: 50%;
}
.family::after,.rating::after {
  border-radius: 50%;
}

select {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 40px;
  padding:0 30px 0 10px;
  min-height:40px;
  background:rgb(43, 43, 43);
  border: none;
  outline: none;
  color: white;
  order:2;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
}

select:hover {
  background: rgb(53, 53, 53);
}

select:focus .option {
  position: relative;
  pointer-events: all;
}

#submit-btn {
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 20px;
  margin-right: 20px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: #1DA1F2;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 0px 6px 6px rgb(71, 71, 71), -0px -6px 6px rgb(66, 66, 66);
  transition: 0.5s;
  font-family: 'Times New Roman', Times, serif;
}

#submit-btn:hover {
  box-shadow: none;
}
